@import "dashboard/variables";

.h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.imie{
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width:250px;
    height:50px;
    border-style: solid;
    border-color: #141f2b;
    border-width: 2.5px;
    border-radius: 5px;
}

.button{
    margin-left: 57px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    float: left;
    transition: opacity 0.2s;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.5;
}

.button2{
    float: right;
    width: 250px;
    height: 50px;
    margin-top: 70px;
    margin-right: 53px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.button2:hover{
    opacity: 0.8;
}

.button2:active{
    opacity: 0.5;
}

.button3{
    float: left;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 58px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.button3:hover{
    opacity: 0.8;
}

.button3:active{
    opacity: 0.5;
}

.close_button{
    margin-top: 5px;
    margin-left: 57px;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    float: left;
    transition: opacity 0.2s;
}

.close_button:hover{
    opacity: 0.8;
}

.close_button:active{
    opacity: 0.5;
}

.gen_button{
    margin-left: 57px;

    height: 50px;
    width: 200px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    float: left;
    transition: opacity 0.2s;
}

.gen_button:hover{
    opacity: 0.8;
}

.gen_button:active{
    opacity: 0.5;
}

.gen_pass{
    width:220px;
    height:50px;
    border-style: solid;
    border-color: #141f2b;
    border-width: 2.5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.copy_button{
    margin-top: 1px;
    margin-right: 40px;
    height: 50px;
    width: 80px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 0.2s;
}

.copy_button:disabled{
    background-color: #c3c3c3;
    color: #2b2b2b;
}

.copy_button:enabled:hover{
    opacity: 0.8;
}

.copy_button:enabled:active{
    opacity: 0.5;
}

.con_button{
    margin-top: 5px;
    margin-right: 57px;
    height: 50px;
    width: 300px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    float: right;
    transition: opacity 0.2s;
}

.con_button:disabled{
    background-color: #c3c3c3;
    color: #2b2b2b;
}

.con_button:enabled:hover{
    opacity: 0.8;
}

.con_button:enabled:active{
    opacity: 0.5;
}

.com_button2{
    float: left;
    margin-left: 57px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.com_button1:hover{
    opacity: 0.8;
}

.com_button1:active{
    opacity: 0.5;
}

.com_button1{
    float: right;
    margin-right: 57px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.com_button2:hover{
    opacity: 0.8;
}

.com_button2:active{
    opacity: 0.5;
}

.child{
    margin-top: 100px;
    margin-left: ($sidebar-width)/2;
    background: white;
    width: 634px;
    height: 220px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border-style: none;
}