.background{
    background: #f6f6f6;
    width: 100vw;
    height: 100vh;
    /*margin-top: 50px;*/
}

.acc {
    /*margin-top: 50px;*/
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetings{
    background: white;
    margin-top: 50px;
    padding: 40px;
    width: 1100px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{

}

.title2{

}

.title3{
    margin-top: 30px;
}

.news{
    padding-top: 30px;
    padding-bottom: 10px;

    margin: 0;
    height: 0;
}

.news h2{
    color: #151f2b;
    font-weight: 700;
}


.news2{
    margin-top: 50px;
    height: 0;
}