.title{
    margin-top: 80px;
    margin-bottom: 30px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.acc{
    margin-top: 160px;
    width:1500px;
    margin-left:auto;
    margin-right:auto;
}