.h1{
    margin-top: 22px;
    margin-left: 32px;
    margin-right: 32px;
}

.login_data{
    width:550px;
    height:50px;
    border-style: solid;
    border-color: #141f2b;
    border-width: 2.5px;
    border-radius: 5px;
}

.email{
    margin-bottom: 40px;
    margin-top: 10px;
}

.password{
    margin-top: 10px;
}

.parent{
    background-image: url("staszic.jpg");
    filter: blur(7px);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.child{
    background: white;
    width: 634px;
    height: 404px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: none;
}

.button{
    margin-top: 45px;
    margin-right: 34px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    float: right;
    transition: opacity 0.2s;
}

.forgot_pass{
    position: absolute;
    margin-top: 50px;
    margin-left: 44px;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.5;
}

#error{
    position: absolute;
    margin-top: 15px;
    margin-left: 44px;
    color: red;
}

