@import "dashboard/variables";

.table{
    text-align: left;
    margin-top: 30px;
    //margin-left: ($sidebar-width)/2;
    width: 1380px;
    margin-left: 10px;
    //position: absolute;
    //top: 30%;
    //left: 50%;
    //transform: translate(-50%,-50%);
}

.button{
    height: 40px;
    width: 150px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.button2{
    height: 40px;
    width: 130px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
    float: right;
}

.button3{
    margin-bottom: 20px;
    margin-right: 12px;
    float: right;
    height: 40px;
    width: 200px;
    color: white;
    background-color: #141f2b;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.5;
}

.button2:hover{
    opacity: 0.8;
}

.button2:active{
    opacity: 0.5;
}

.button3:hover{
    opacity: 0.8;
}

.button3:active{
    opacity: 0.5;
}

.edition{
    text-align: center;
    width: 150px;
}

.email{
    width: 500px;
}

.parent{
    background-image: url("staszic.jpg");
    filter: blur(7px);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.child{
    text-align: center;
    margin-left: ($sidebar-width)/2;
    background: white;
    width: 1400px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: none;
}

.h1{
    margin-top: 20px;

}