.background {
  background: #f6f6f6;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #ffffff;
  height: max-content;
  width: 560px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-style: none;
  border-radius: 40px;

  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.04);

  padding: 40px;
}

.title{
  color: #272727;
}

.title h1
{
  font-size: 40px;
  font-weight: 700;
  text-align: center;

  margin-top: 0;
  margin-bottom: 24px;
}

.form_names{
  width: 100%;
  margin-bottom: 40px;
}

.form_passwords{
  width: 100%;
}