@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
  font-family: "Poppins", Arial;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  //background: rgb(46, 62, 80);
  background: rgb(19, 31, 43);

  padding-top: 60px;
  padding-bottom: 25px;

}

.title {
  //background: red;
  width: 250px;
  height: 130px;

  text-align: center;
  font-weight: 700;
  color: white;
}

.title h1{
  font-size: 40px;
  line-height: 45px;
  margin: 0;
}

.title h2{
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}

.navbar{
  width: $button-width;
  flex: 1;

  margin-top: 60px;
  margin-bottom: 50px;
}

.navbar button
{
  //background: none;
  background: #192635;
  width: 100%;
  height: $button-height;
  margin-bottom: 15px;

  display: flex;
  align-items: center;

  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  padding-left: 25px;

  border: none;
  border-radius: 15px;

  cursor: pointer;
  transition: 0.15s;
}

.navbar button:hover{
  background: #283240;
  color: #ffffff;
}

.navbar button:active{
  background: #ffffff;
  color: #283240;
}

.navbar_link{
  text-decoration: none;
}

.navbar_icon {
  height: 26px;
  margin-right: 10px;
}

.navbar_text {
  margin: 0;
}

.logout{
  width: $button-width;
}

.logout button{
  background: #192635;
  width: 100%;
  height: $button-height;
  margin-bottom: 15px;

  display: flex;
  align-items: center;

  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  padding-left: 25px;

  border: none;
  border-radius: 15px;

  cursor: pointer;
  transition: 0.15s;
}

.logout button:hover{
  background: #283240;
  color: #ff3737;
  font-size: 18px;
}

.logout_icon{
  height: 26px;
  margin-right: 10px;
}

.logout_text {
  margin: 0;
}